body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(../images/bg_tile.gif) repeat top left;
	font: 12px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #44636a;
}

p {line-height: 20px;}

a {color: #d44c49; text-decoration: none;}

a:hover {text-decoration: underline;}

img { border: none; }
.clear { clear: both; }
.center { text-align: center; }

h1, h2, h3, h4 {}

h1 {	font: 24px/24px "Trebuchet MS", Arial, Helvetica, sans-serif;}

h2 {	font: 16px/26px "Trebuchet MS", Arial, Helvetica, sans-serif;}

h3 {	font: 13px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;}

h4 {	font: 12px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;}

#wrapper {
	position: relative;
	/*width: 1133px;*/
	width: 945px;
	margin: 0 auto;
}

#contentmain_shadow {
	position: relative;
	float: left;
	width: 735px;
	background: transparent url(../images/shadow.png) repeat-y top left;
}

#stitches { position: relative; float: left; width: 730px; 	height: 36px; }
#stitch_1 { position: relative; float: left; width: 363px;	height: 36px; border-right: 2px dashed #ebe5d5; }
#stitch_2 { position: relative; float: left; width: 173px; height: 36px; border-right: 2px dashed #ebe5d5; }
#stitch_3 { position: relative; float: left; width: 190px; height: 36px; }

#header {
	position: relative;
	float: left;
	width: 730px;
	height: 80px;
	font: 11px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #f6eee0;
	background-color: #73b2bf;
}

#tagline {position: relative; float: right; width: 350px; text-align: right; padding-top: 30px; padding-right: 25px; font-size: 23px;}
#tagline span.tag_likes {font-weight: bold; font-style: italic;}

#right_ribbon a {
	display:block;
	text-indent: -1000em;
	position: absolute;
	top: 0;
	right: -290px;
	width: 290px;
	height: 91px;
	background: transparent url(../images/right_ribbon.png) no-repeat top left;
	outline: none;
}

#right_ribbon a:hover {background-position: bottom; width: 290px;	height: 91px;}

#logo {
	position: absolute;
	top: -36px;
	left: 37px;
}

#share {
	position: relative;
	float: left;
	width: 730px;
	height: 50px;
}

.share_site {
	float: right;
	width: 148px;
	height: 29px;
	border-top: 1px solid #dbcbaf;
	border-bottom: 1px solid #dbcbaf;
	font-weight: bold; 
	font-style: italic; 
	font-size: 13px;
	margin: 15px 15px 0 0;
}

.share_site p {display: block; float: left; padding: 4px 3px 0 0;}

.share_site a {display: block; float: left; padding: 6px 0 0 3px; }

#how_it_works{
	position: relative;
	float: left;
	width: 730px;
	height: 246px;
	color: #44636a;
	font-size: 20px;
}

#how_it_works h2 {
	font-weight: bold; 
	font-style: italic; 
	font-size: 36px; 
	position: absolute; 
	top: -10px; 
	left: 82px;
	letter-spacing:-1px;
}

#step_1 div { position: relative; top: 128px; left: 13px; text-align: center; letter-spacing:-1px;}
#step_2 div { position: relative; top: 170px; left: 3px; text-align: center; letter-spacing:-1px; }
#step_3 div { position: relative; top: 170px; left: 2px; text-align: center; letter-spacing:-1px; }
#step_4 div { position: relative; top: 172px; left: -15px; text-align: center; letter-spacing:-1px;}

#step_1 {
	position: relative;
	float: left;
	width: 188px; 
	border-right: 2px dashed #ebe5d5; 
	height: 172px;
	margin-top: 42px;
	background: transparent url(../images/step_1.png) no-repeat 5px 5px;
}

#step_2 {
	position: relative;
	float: left;
	width: 173px; 
	border-right: 2px dashed #ebe5d5; 
	height: 214px;
	background: transparent url(../images/step_2.png) no-repeat 0 47px;
}

#step_3 {
	position: relative;
	float: left;
	width: 173px; 
	border-right: 2px dashed #ebe5d5; 
	height: 214px;
	background: transparent url(../images/step_3.png) no-repeat 0 47px;
}

#step_4 {
	position: relative;
	float: left;
	width: 190px; 
	height: 214px;
	/*background: transparent url(../images/step_4.png) no-repeat 0 47px;*/
	background: transparent url(../images/step_4.png) no-repeat -10px 47px;
}


/*---Right Hand Column---*/

#total_progress {
	position: absolute;
	top: 213px;
	right: -213px;
	width: 243px;
	height: 119px;
	background: transparent url(../images/total_progress.png) no-repeat top left;
}

#total_progress span.archer {font-size: 22px; display: block; padding: 15px 0 0 24px; letter-spacing: -1px;}

#total_progress div.ui-widget-content {
	background:url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #ebe3d3;
	border: none;
	color:#ebe3d3;
}

#total_progress div.ui-widget-header {
	background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #d44c49;
	border: none;
	color:#d44c49;
	font-weight:bold;
}

#total_progress .ui-progressbar {
	width: 193px; 
	margin: 6px 0 0 24px;
}

#totalpct {
	position: absolute;
	top: 69px;
	right: 27px;
	font-weight:bold;
}

#our_mission {
	position: absolute;
	top: 343px;
	right: -210px;
	width: 243px;
	font-size: 11px;
}

#mission_wrapper {width: 243px; background: transparent url(../images/mission_background.gif) repeat-y top left; }
#mission_content {width: 193px; margin: 0 auto;}
#mission_content p {padding-top: 10px; line-height: 16px;}

#our_mission h3 {font-size: 22px; border-bottom: 6px solid #d1e2e3; padding-bottom: 5px;}
#our_mission h3.mission {padding-top: 15px;}
#our_mission h3.keep {font-size: 21px; padding-top: 20px;}
#our_mission h3.bottom {border: none; padding-top: 15px; padding-bottom: 0; letter-spacing: -1px;}
#our_mission h4 {position: relative; font-size: 14px; border-bottom: 6px solid #d1e2e3; padding-bottom: 6px; margin-top: -2px;}

#our_mission h4 img {position: absolute; top: -15px; right: -10px;}
#our_mission iframe {margin-top: 8px;}


#our_mission div.twtr-widget  {padding-bottom: 15px; font-size: 11px !important;}
#our_mission div.twtr-hd  {padding: 5px;}
#our_mission div.twtr-hd h3, #our_mission div.twtr-hd h4 {border: none;}
#our_mission div.twtr-ft a.twtr-join-conv {color: #d44c49 !important;}

#our_mission div.twtr-widget .twtr-results-hr {border-bottom:none;}

#our_mission div.twtr-ft a img {display: none;}

#mission_footer {height: 17px; width: 243px; background: transparent url(../images/mission_footer.png) no-repeat top left;}

/*---Main Content Area---*/
#contentmain {
	position: relative;
	float: left;
	width: 730px;
	background: #FFFFFF url(../images/paper_background.jpg) repeat-y top left;
	margin-left: 5px;
}

.project {
	position: relative;
	float: left;
	width: 635px;
	border-top: 12px solid #e8e2d5;
	margin-left: 40px;
	padding-bottom: 30px;
	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);*/
}

.project_left {
	position: relative;
	float: left;
	width: 192px;
	margin-top: 5px;
}

.project_number {position: absolute; top: 21px; left: 10px;}
.project_image {border: 1px solid #dbcbaf; margin-top: 30px; margin-bottom: 10px;}

.sharing {
	position: relative;
	float: left;
	width: 192px;
}

.share_project {
	position: relative;
	float: left;
	width: 192px;
	height: 29px;
	border-top: 1px solid #dbcbaf;
	border-bottom: 1px solid #dbcbaf;
	font-weight: bold; 
	font-style: italic; 
	font-size: 13px;
}

.share_project p {display: block; float: left; padding: 4px 5px 0 12px;}

.share_project a {display: block; float: left; padding: 6px 0 0 5px;}

.project_right {
	position: relative;
	float: left;
	width: 418px;
	padding-left: 25px;
	margin-top: 5px;
}

.project_right h2.archer a {cursor: default;}

.project_right h2, .project_right h2 a {
	font-weight: bold; 
	font-style: italic; 
	font-size: 36px; 
	color: #5c9aa7;
	padding: 30px 0 10px 0;
	letter-spacing:-1px;
}

.project_right h3 {font-weight: bold; font-size: 16px; padding: 12px 0 8px 0;}

.project_right p {
	line-height: 18px;
}

.like_project {
	position: relative;
	float: left;
	width: 294px;
	height: 38px;
	background: transparent url(../images/like_arrow.png) no-repeat top left;
	font-weight: bold; 
	font-style: italic; 
	font-size: 15px; 
	color: #f9f8f5;
	line-height: 38px;
}

.proj_likes {
	font-size: 21px; 
	display: block;
	position: absolute;
	top: 0;
	left: 25px;
}
.proj {
	display: block;
	position: absolute;
	top: -1px;
	left: 77px;
}

.like_project div.LikeButtons {
	position: absolute;
	top: 1px;
	left: 170px;
}

/*---Progress Bar---*/

.ui-corner-all {-moz-border-radius: 0px;}
.ui-corner-left {-moz-border-radius: 0px;}

.ui-corner-left, .ui-corner-all {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-progressbar .ui-progressbar-value { margin: 0px; }

.ui-widget-content {
	background:url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #ebe3d3;
	border: none;
	color:#ebe3d3;
}

.ui-widget-header {
	background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #73b2bf;
	border: none;
	color:#73b2bf;
	font-weight:bold;
}

.ui-progressbar {
	position: relative;
	float: left;
	width: 200px; 
	height: 18px;
	margin: 25px 0;
}

#progbar1togo, #progbar2togo, #progbar3togo, #progbar4togo, #progbar5togo, #progbar6togo, #progbar7togo, #progbar8togo, #progbar9togo, #progbar10togo {
	position: relative;
	float: left;
	width: 150px; 
	margin: 28px 0 0 12px;
}


/*---Funded Styles---*/

.funded {margin-top: -300px;}

.funded * {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.fully_funded, .expired {
	position: relative;
	top: 28px;
	left: 70px;
	width: 600px;
	height: 300px;
	/*width: 387px;
	height: 47px;*/
	z-index: 100;
}

/*---Footer Styles---*/
#left_ribbon {
	position: absolute;
	top: 0;
	left: -113px;
	width: 113px;
	height: 52px;
	background: transparent url(../images/left_ribbon.png) no-repeat top left;
}

#right_ribbon_bottom {
	position: absolute;
	top: 0;
	right: -34px;
	width: 34px;
	height: 41px;
	background: transparent url(../images/right_ribbon_bottom.png) no-repeat top left;
}

#buffer {
	position: relative;
	float: left;
	clear: both;
	width: 730px;
	height: 72px;
}

#footer {
	position: relative;
	float: left;
	clear: both;
	width: 730px;
	height: 41px;
	font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #44636a;
	background-color: #73b2bf;
	margin-top: -72px;
} 


#copyright { position: relative; float: left; border-right: 1px dashed #44636a; padding-left: 23px; /*width: 144px;*/ width: 136px; height: 41px; line-height: 41px;}
#footer_links { position: relative; float: left; border-right: 1px dashed #44636a; width: 345px; /*width: 339px;*/ height: 41px; }
#footer_links ul { position: relative; list-style: none; padding-top: 14px; padding-left: 20px;}
#footer_links li { position: relative; float: left; border-right: 1px solid #b0d4db; }
#footer_links li.last { border-right: none; }
#footer_links a {color: #FFF; margin: 0 8px;}
#footer_links a:hover { text-decoration: underline;}
#footer_links li.last a { margin-right: 0; }
#footer_links li.first a { margin-left: 0; }

#keepintouch {
	position: relative;
	float: right;
	width: 223px;
	/*width: 224px;*/
	height: 41px;
	line-height: 41px;
}

#keepintouch span {display: block; float: left; padding-left: 21px; padding-right: 8px;}
#keepintouch a {outline: none; width: 29px; height: 28px; display: block; float: left; padding-top: 6px; padding-right: 4px;}

#archer_modal, #blocked_modal {
	position: relative;
	width: 621px;
	height: 190px;
	background: transparent url(../images/archer_modal.png) no-repeat top left;
	z-index: 100;
}

#archer_modal a {outline: none;}

#archer_modal img {
	position: relative;
	float: left;
	padding: 25px 15px 0 15px;
}

#archer_modal img.facebook {
	position: relative;
	float: left;
	padding: 20px 12px 0 0;
}

#archer_modal #thank_you {border-bottom: 4px solid #73b2bf; width: 500px; height: 80px; margin: 0 auto; text-align: center; }
#archer_modal p.archer {font-style: italic; color: #FFF; font-size: 28px; /*letter-spacing: -1px; line-height: 80px;*/ padding-top: 30px;}
#archer_modal a.archer {color: #ece5d5; font-size: 14px; display: block; float: left; width: 100px; padding: 25px 0 0 0;}
#archer_modal #please_fan {width: 380px; height: 90px; padding-top: 20px; position: relative; float: left; text-align: right;}
#archer_modal p.archer_semi {color: #ece5d5; font-size: 17px;}
#blocked_modal #company_blocks {border-bottom: 4px solid #73b2bf; width: 500px; height: 80px; margin: 0 auto; text-align: center; }
#blocked_modal p.archer {font-style: italic; color: #FFF; font-size: 28px; /*letter-spacing: -1px; line-height: 80px;*/ padding-top: 30px;}
#blocked_modal #get_involved {width: 470px; height: 90px; padding-top: 20px; margin: 0 auto; text-align: center;}
#blocked_modal p.archer_semi {color: #ece5d5; font-size: 18px;}